<!-- Basic Package -->
<div class="modal fade" id="basicPackage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">2-Day 1-Night Tour Package</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <p class="h4"><b>Day 01:</b></p>
                <p><b>Places covered:</b></p>
                <ul>
                    <li>Laxmi Vilas Palace</li>
                    <li>Sursagar Lake</li>
                </ul>
                <ol>
                    <li>Starting with the breakfast</li>
                    <li>Visiting Laxmi Vilas Palace</li>
                    <li>Afternoon lunch at Palace itself</li>
                    <li>Then visiting Sursagar Lake</li>
                    <li>And returning back to the Hotel for dinner</li>
                </ol>

                <p class="h4"><b>Day 02:</b></p>
                <p><b>Places covered:</b></p>
                <ul>
                    <li>Vadhvana Bird Sanctuary</li>
                    <li>Kotna Beach</li>
                </ul>
                <ol>
                    <li>Starting with the breakfast</li>
                    <li>Visiting Vadhvana Bird Sanctuary</li>
                    <li>Afternoon lunch at resturant with typical gujrati food</li>
                    <li>Then visiting Kotna Beach for the extreme evening view</li>
                    <li>And returning back to the Hotel for dinner</li>
                </ol>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Book Now</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Premium Package -->
<div class="modal fade" id="premiumPackage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">5-Day 4-Night Tour Package</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container">
            <p class="h4">Each day visiting 4 exciting and different places</p>
            <br>
            <p class="h6"><b>Key Takeaways:</b></p>
            <ul>
              <li><b>Breakfast, Lunch and Dinner Included</b></li>
              <li><b>Lavish accommodations</b></li>
              <li><b>VIP visit's at every places</b></li>
            </ul>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Book Now</button>
      </div>
    </div>
  </div>
</div>